<p style="color: green"><%= notice %></p>

<h1 class="display-6 text-center mb-5">
  Users
</h1>

<div class="card p-5">
  <% @users.each do |user| %>
    <%= render user %>
    <div class="d-grid gap-2 mb-4">
      <%= link_to "Show", user, class: 'btn btn-sm btn-outline-dark' %>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: 'btn btn-sm btn-outline-dark' %>
